*{
  box-sizing: border-box;
}
body {
  background: linear-gradient(90deg, #02121b, #165580);
  color: #fff;
  font-family: 'Segoe UI', sans-serif;
  overflow-x: hidden!important;
}
section{
  overflow: hidden;
}
::-webkit-scrollbar{
  width: 6px;
  background: linear-gradient(180deg, #02121b, #165580);
}
::-webkit-scrollbar-button{
  background: #00c6ff;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb{
  background: #00c6ff;
  border-radius: 5px;
}
/* Animations are start here */
.wrapper{
  font-size: 20px;
  letter-spacing: 2px;
}
.text-glow{
  color: #fff;
  text-shadow: 0 0 30px #fff, 0 0 20px #00c6ff;
  animation: text-glow 2s infinite alternate;
  cursor: pointer;
}
.box-glow{
  box-shadow: 0 0 6px #fff, 0 0 9px #00c6ff, 0 0 3px #165580;
  animation: box-glow 1s infinite alternate;
  border-radius: 12px;
}
.cursor{
  margin-left: 6px;
  font-size: 25px;
  animation: blink 0.8s infinite;
}
/* Entring from bottom */
.box-fadeup {
  border-radius: 18px;
  opacity: 0;
  transform: translateY(100px) scale(0.85);
  filter: blur(12px);
  display: inline-block;
  transition:
    opacity 0.8s ease,
    transform 1500ms cubic-bezier(.22,1,.36,1),
    filter 0.8s ease;
}
.box-fadeup.show {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}
/* Entring form right */
.box-fade-right {
  border-radius: 18px;
  opacity: 0;
  transform: translateX(100px) scale(0.85);
  filter: blur(12px);
  display: inline-block;
  transition:
    opacity 0.8s ease,
    transform 1500ms cubic-bezier(.22,1,.36,1),
    filter 0.8s ease;
}
.box-fade-right.show {
  opacity: 1;
  transform: translateX(0) scale(1);
  filter: blur(0);
}
/* Entrign form top */
.box-fadein {
  border-radius: 18px;
  opacity: 0;
  transform: translateY(-100px) scale(0.85);
  filter: blur(12px);
  display: inline-block;
  transition:
    opacity 0.8s ease,
    transform 1500ms cubic-bezier(.22,1,.36,1),
    filter 0.8s ease;
}
.box-fadein.show {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}
/* Entring from left */
.box-fade-left {
  border-radius: 18px;
  opacity: 0;
  transform: translateX(-100px) scale(0.85);
  filter: blur(12px);
  display: inline-block;
  transition:
    opacity 0.8s ease,
    transform 1500ms cubic-bezier(.22,1,.36,1),
    filter 0.8s ease;
}
.box-fade-left.show {
  opacity: 1;
  transform: translateX(0) scale(1);
  filter: blur(0);
}
@keyframes blink{
  0%{
    opacity: 1;
    color: #00c6ff;
  }
  50%{
    opacity: 0;
    color: #000;
  }
  100%{
    opacity: 1;
    color: #00c6ff;
  }
}
@keyframes text-glow{
  from{
    text-shadow: 0 0 5px #00c6ff;
    color: #fff;
  }
  to{
    text-shadow:  0 0 5px #fff;
    color: #00c6ff;
  }
}
@keyframes box-glow{
  from{
    box-shadow: 0 0 5px #00c6ff;
  }
  to{
    box-shadow:  0 0 5px #fff;
  }
}
@keyframes fadeup{
  form{
    opacity: 0;
    transform: translateY(40px) scale(0.5);
  }
  to{
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
/* End of animations */
.navbar {
  direction: ltr ;  
  background: rgba(27, 90, 124,0.8);
  border-radius: 15px;
  margin-top: 20px;
  color: #fff;
  transition: all 0.1s ease-out;
}

.navbar-custom{
  position: sticky;
  top: 24px;
  z-index: 9999;
}

.img-custom{
  border-radius: 5px;
  transition: 0.4s;
}
.img-custom:hover{
  transform: translateY(-12px);
  transition: 0.4s;
}
.navbar-brand{
    border-radius: 12px;
    transition: 0.3s;
    padding: 3px;
}
.navbar-brand:hover{
    transform: translateX(5px);
    background-color: #00c6ff;
    transition: 0.3s;
}
.nav-link {
    border-radius: 12px;
    transition: 0.3s;
    color: #fff;
    padding-left: 4px;
}
.nav-link:hover{
    transform: translateY(-3px);
    background-color: rgb(27, 90, 124);
    transition: 0.3s;
    color: #fff;
}
.navbar-toggler-icon:hover{
    color: #00c6ff;
}
.img-responsiv{
    width: 100%;
    height: auto;
}
.hero{
background: linear-gradient(90deg, #02121b, #165580);
}
.hero .greating{
  background-color: rgba(0, 114, 255,0.1);
  color: #00c6ff;
  font-weight: bold;
  border: 1px solid #00c6ff;
  border-radius: 12px;
  padding: 5px;
  margin-top: 30px;
}
.hero .tran{
  background-color: rgba(0, 114, 255,0.1);
  border: 1px solid #00c6ff;
  color: #00c6ff;
  font-weight: bold;
  border-radius: 12px;
  padding: 5px;
  display: inline-block;
  margin-top: 20px;
}
.hero h5{
  font-size: 40px;
}
.hero h1 span {
  color: #00c6ff;
}
.hero p{
    color: #fff;
}

.btn-main {
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  border: none;
  color: #fff;
  border-radius: 30px;
  padding: 10px 25px;
  transition: 0.4s ease-in;
}
.btn-main:hover{
  transform: translateY(-2px);
  transition: 0.4s ease-in;
}
.service{
  background: linear-gradient(90deg, #165580, #02121b);
}
.service h2{
  margin-top:150px;
}
.service-card {
  background: #0f2a38;
  border-radius: 12px;
  padding: 10px;
  transition: 0.3s;
  box-shadow: 0 0 6px 0.1px #00c6ff;
  transition: .3s;
}
.service-card:hover {
  transform: translateY(-5px);
  background: #12394d;
  transition: .3s;
}
.service-card h3{
  color: #00c6ff;
}
.custom-photo{
  background-color: #02121b;
  border-radius: 12px;
}
.custom-photo .skill-photo{
  padding: 10px;
  background-color: #0f2a38;
  box-sizing: border-box;
  border-radius: 12px;
  text-align: center;
  margin: 35px;
}
@media screen and (max-width:692px) {
  .custom-photo .skill-photo{
    margin: 15px 5px;
  }
}
.custom-photo .skill-photo p{
  font-size: 24px;
  color: #00c6ff;
}
.counter {
  background: linear-gradient(90deg,#165580, #02121b);
  padding: 30px;
}
.inner-gray{
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
}
.about{
   background: linear-gradient(90deg,#02121b,#165580);
}
.skills-section{
  width: 100%;
}
@media screen and (max-width:991px){
  .skills-section{
  width: 100%;
}
}
    
.skills-section h2 {
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: bold;
}

.skill {
    margin-bottom: 22px;
}

.skill-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    font-size: 15px;
    flex-wrap: wrap;
}

.skill-header small {
    color: #cbd5e1;
}

.progress {
    width: 100%;
    height: 8px;
    background: #1e293b;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(90deg, #38bdf8, #22d3ee);
    transition: width 1.8s ease-in-out;
}
.clear-fix{
  clear: both;
}
.projects{
  background: linear-gradient(90deg,#165580,#02121b);
}
.project-btn{
  background: linear-gradient(90deg, #38bdf8, #22d3ee);
  display: inline;
}
.project-photo{
  margin-top: 20px;
  border-radius: 12px;
  box-shadow: 0 0 4px 1px #fff;
  width: 60%;
  max-width: 100%;
  height: auto;
  transition: 0.3s;
  margin-left: 0px;
}
.project-photo:hover{
  transition: 0.3s;
  box-shadow: 0 0 4px 1px #00c6ff;
}
.contact-text{
  margin-top: 50px;
}
textarea{
  resize: none;
  height: 300px;
}
textarea, .contact-comment , .contact-comment-button{
  width: 350px;
  margin-top: 5px;
  margin-bottom: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 3.5px;
  background-color: #02121b;
  color: #00c6ff;
}
textarea, .contact-comment {
  padding-left: 32px;
}
textarea:focus, .contact-comment:focus , .contact-comment-button:focus{
  border: 1px solid #00c6ff;
}
textarea::placeholder, .contact-comment::placeholder{
  color:#165580;
}
.contact-comment-name{
  background-image: url('photos/user.png');
  background-repeat: no-repeat;
  background-size: 30px;
}
.contact-comment-email{
  background-image: url('photos/email.png');
  background-repeat: no-repeat;
  background-size: 30px;
}
.contact-comment-text{
  background-image: url('photos/chat.png');
  background-repeat: no-repeat;
  background-size: 30px;
}
.contact-box{
  background-color: #12394d;
  border-radius: 12px;
}

.footer{
  background: linear-gradient(90deg,#165580,#02121b)!important;
}
.quick-link{
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}
.queick-links{
  list-style-type: none;
}
.queick-links a{
  color: #fff;
  text-decoration: none;
}
.queick-links a:hover{
  color: #00c6ff;
  margin-left: 3px;
  transition: 0.3s;
}
.socila_icons{
  display: inline-block;
  padding: 10px;
  margin-top: 50px;
  border-radius: 100%;
}
.socila_icons:hover{
  transform: translateY(-5px);
  transition: all 0.3s ease-in-out;
}
